body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    flex-direction: column;
}
.img{
    transform: translateY(-130px);
    background-image: url("IMG_5178.jpg");
    width: 183px;
    height: 183px;
    background-position: center;
    background-size: cover;
    border-radius:50%;
    transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}
.hh{
    margin: 200px;
    color: white;
    text-decoration: none;
    font-size: 50px;
    transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hh:hover{
    color: blue;
    text-decoration:underline;
    font-size: 50px;
}
.n{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    transform: translate(140px,150px);
    color: white;
}
.inpp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inpp1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
    padding: 8px;
    width: 200px;
    border-radius: 50px;
    border: 0;
}
.con{
    transform: translateY(-150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 100px;
    border: 0;
    background-color: blueviolet;
    color: aqua;
    padding: 10px;
    transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}
button:hover{
    transform: scale(1.2);
    color: yellow;
}
h4{
    font-size: 30px;
}
.con22{
    transform: translateY(-100px);
    position: relative;
    overflow: scroll;
    width: 1000px;
    height: 500px;
}
.con2{
    display: flex;
    justify-content: space-around;
}